{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 style="border-bottom: black 2px solid; margin-top: 20px; width: 75%; padding: 10px">TODO List
    <a class="float-right" href="{% url 'todo:task-create' %}">
      <span class="btn btn-primary">Add task</span>
    </a></h1>
  {% for task in task_list %}
    <div style="border-bottom: 1px solid black; margin-bottom: 10px; width: 75%; padding: 10px">
      <p><strong>{{ task.content }} | {% if task.is_done %}
        <span class="done">Done</span>
        <form class="float-right" action="{% url 'todo:task-delete' task.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="task_id" value="{{ task.id }}">
          <button type="submit" class="btn btn-secondary">Undo</button>
        </form>
      {% else %}
        <span class="not-done">Not done</span>
        <form class="float-right" action="{% url 'todo:task-update' task.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-success">Complete</button>
        </form>
      {% endif %}
      </strong></p>
      <p>Created: {{ task.created_at }}</p>
      {% if task.deadline_datetime %}
        <p>Deadline: <strong>{{ task.deadline_datetime }}</strong></p>
      {% endif %}
      <p>Tags: {% for task in task.tags.all %}
        {{ task.name }}
      {% endfor %}
      </p>
    </div>
  {% endfor %}

{% endblock %}
